<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Book Page</title>
</head>
<body>
    <main>
        <section>            
              <ol>
         
                  <li>
                    <img src="<%= myChosenBook.image_url %>" alt="">
                    <h2><%= myChosenBook.title %></h2>
                    <p><%= myChosenBook.author %></p>
                    <p><%= myChosenBook.isbn %></p>
                    <p><%= myChosenBook.description %></p>
                  </li>
               
              </ol>
              <h2>Update Task</h2>
          
              
              
              
              
              </form>
              <a href="/">Go Back</a>
        </section>
    </main>
</body>
</html>