<!DOCTYPE html>
<html lang="en">
  <%- include('../../layout/head.ejs') %>
  <body>
    <header>
      <!-- Top Navigation Menu -->
<div class="topnav">
  <a href="#home" class="active">Best Books!</a>
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
    <a href="#news">Books</a>
    
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
    </header>
    <main>
        <div id="search-results"><h2>Search Results</h2></div>
      <ul>
        <% library.forEach(book => { %>
          <div class="template">
            <img src="<%= book.image %>" alt="">
          <h2><%= book.title %></h2>
          <h4><%= book.author %></h4>
         
            <h3>Update Library</h3>
            <form action="/books" method="post">
              <input type="hidden" name="image" value="<%= book.image %>" placeholder="<%= book.image %>" />
              <input type="hidden" name="title" value="<%= book.title %>" placeholder="<%= book.name %>" />
              <input type="hidden" name="description" value="<%= book.description %>" placeholder="<%= book.description %>"/>
              <input type="hidden" name="isbn" value="<%= book.isbn %>" placeholder="<%= book.isbn %>" />
              <button type="submit">Add</button>
              </form> 
            
            <form action="/books/<%= book.id %>?_method=PUT" method="post">
              <input type="hidden" name="image" value="<%= book.image %>" placeholder="<%= book.image %>" />
              <input type="hidden" name="title" value="<%= book.title %>" placeholder="<%= book.name %>" />
              <input type="hidden" name="description" value="<%= book.description %>" placeholder="<%= book.description %>"/>
              <input type="hidden" name="isbn" value="<%= book.isbn %>" placeholder="<%= book.isbn %>" />
            <button type="submit">Update</button>
            
            </form>
        </div>
        <% }) %>
      </ul>
    </main>
    <script >
      // NAVBAR
function myFunction() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
    </script>
  </body>
</html>